.banner {
  height: 158px;
  background: #89706e url("../../img/banner-mobile.webp") no-repeat 50% 100%;
  background-size: cover;
  padding-top: 52px;
  text-align: center;
  position: relative;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/banner-mobile@2x.webp");
  }

  &::after {
    @include bottom-triangle("../../img/stack.svg#intro-triangle", 1200px 57px, 57px);
  }

  @media (min-width: $tablet-width) {
    height: 290px;
    padding-top: 95px;
    background-image: url("../img/banner-tablet.webp");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/banner-tablet@2x.webp");
    }
  }

  @media (min-width: $desktop-width) {
    height: 301px;
    padding-top: 102px;
    background-image: url("../img/banner-desktop.webp");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/banner-desktop@2x.webp");
    }
  }
}

.banner__wrapper img {
  @media (min-width: $tablet-width) {
    width: 457px;
    height: 78px;
  }
}
