.button {
  border: 0;
  background-color: $base-color;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  padding: 16px 0;
  width: 100%;
  max-width: 458px;
  font-family: "PT Sans", "Arial", sans-serif;
  cursor: pointer;
}

.button:hover {
  background-color: #679ec1;
}

.button:active {
  background-color: #5496bd;
  color: rgba($light-color, 0.3);
}
