.checkbox {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding: 16px 0 16px 62px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
  position: relative;
  cursor: pointer;
  margin-bottom: 4px;

  &:hover .checkbox__mark {
    background-color: #e5e5e5;
  }

  &:focus .checkbox__mark,
  &:active .checkbox__mark {
    background-color: #d5d5d5;
  }

  &:focus .checkbox__control:checked + .checkbox__mark::before,
  &:active .checkbox__control:checked + .checkbox__mark::before {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    width: calc((100% - 92px) / 2);
    margin-right: 20px;
  }

  @media (min-width: $desktop-width) {
    max-width: 256px;
    min-width: 155px;
    width: auto;
    margin-right: 64px;
  }

  &:last-child {
    @media (min-width: $desktop-width) {
      margin-right: 0;
    }
  }
}

.checkbox__mark {
  position: absolute;
  top: 4px;
  left: 0;
  width: 46px;
  height: 46px;
  border-radius: 4px;
  background-color: $photo-background;
}

.checkbox__control:checked + .checkbox__mark::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 12px;
  width: 22px;
  height: 16px;
  background: url("../../img/stack.svg#checkbox-on") no-repeat 50% 50%;
}
