.copyright {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #000000;
  display: inline-block;
  margin-top: 4px;

  &:hover {
    color: #81b3d2;
  }

  &:active,
  &:focus {
    color: #b3b3b3;

    &::after {
      background-color: #b3b3b3;
    }
  }
}

.copyright__text {
  vertical-align: middle;
  padding-right: 8px;
}

.copyright__icon {
  vertical-align: middle;
}
