.copyright {
  font-weight: 400;
  font-size: 14px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
  display: inline-block;
  padding-right: 45px;
  background: url("../../img/htmlacademy.svg") no-repeat 100% 50%;
}
