.find-hotel {
  text-align: center;
  padding: 38px 18px 48px 18px;
}

.find-hotel__title {
  font-size: 21px;
  margin-bottom: 22px;
}

.find-hotel__text {
  margin-bottom: 32px;
}

.find-hotel__button {
  display: block;
  margin: 0 auto;
}
