.find-hotel {
  text-align: center;
  padding: 38px 18px 48px 18px;

  @media (min-width: $tablet-width) {
    padding: 60px 18px 55px 18px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 68px;
    padding-top: 63px;
  }
}

.find-hotel__title {
  font-size: 21px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    margin-bottom: 31px;
  }
}

.find-hotel__text {
  margin: 0 auto 32px;
  max-width: 290px;

  @media (min-width: $tablet-width) {
    margin: 0 auto 45px;
    max-width: 440px;
  }

  br {
    display: none;

    @media (min-width: $tablet-width) {
      display: initial;
    }
  }
}

.find-hotel__button {
  display: block;
  margin: 0 auto;
  max-width: 284px;

  @media (min-width: $tablet-width) {
    max-width: 458px;
  }
}
