.form-legend {
  text-align: right;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
  color: lighten($color: #000000, $amount: 60%);
  padding: 2px 20px;
  margin: 0;

  @media (min-width: $tablet-width) {
    margin-top: 38.5px;
    padding: 2px 4px;
    font-size: 13.5px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 92px;
  }
}
