.form-control {
  outline: none;
}

.form-control::placeholder {
  color: #000000;
  opacity: 0.3;
}

.form-control:active {
  box-shadow: 0 0 0 4px inset #e5e5e5;
  background-color: $light-color;
}

.form-control:hover {
  box-shadow: 0 0 0 4px inset #e5e5e5;
  background-color: #e5e5e5;
}
