.galery {
  text-align: center;
  padding-top: 37px;
}

.galery__title {
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}

.galery__subtitle {
  margin-bottom: 37px;
}

.galery__list {
  @include list-reset;
  border-top: 1px solid #e5e5e5;
  margin: 60px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.galery__item {
  border-bottom: 1px solid #e5e5e5;
  padding: 25px 20px;
  overflow: hidden;
  position: relative;

  @media (min-width: $tablet-width) {
    border-bottom: 0;
    padding: 0;

    &:first-child {
      grid-column: 1 / -1;
      grid-row: 1 / 2;
    }
  }
}

.galery__figure {
  margin: 0;
}
