.input {
  border: 0;
  background-color: #f2f2f2;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding: 16px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
  background-size: 58px 58px;
  background-repeat: no-repeat;
  background-position: 100% 50%;
  padding-right: 58px;

  &--phone {
    background-image: url("../../img/stack.svg#icon-phone");
  }

  &--email {
    background-image: url("../../img/stack.svg#icon-email");
  }
}
