.intro {
  background: url("../../img/back-desktop.jpg") no-repeat 50% 0;
  text-align: center;
  height: 389px;
  padding: 90px 0 85px 0;
  position: relative;
}

.intro::after {
  @include bottom-triangle("../../img/intro-triangle.svg", 1200px 57px, 57px);
}
