.like__button {
  border: 0;
  mask-image: url("../../img/stack.svg#icon-like");
  background: rgba(0, 0, 0, 0.3);
  width: 23px;
  height: 21px;
  vertical-align: top;
  display: inline-block;
  cursor: pointer;
  padding: 0;

  @media (min-width: $desktop-width) {
    background: $light-color;
  }
}

.like__quantity {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  display: inline-block;
  margin-left: 10px;
  padding-top: 5px;
  vertical-align: top;

  @media (min-width: $tablet-width) {
    margin-left: 6px;
  }
}
