.like__button {
  border: 0;
  background: url("../../img/like-icon.svg") no-repeat 50% 50%;
  width: 23px;
  height: 21px;
  vertical-align: top;
  display: inline-block;
  cursor: pointer;
  padding: 0;

  & svg {
    opacity: 0.3;
  }

  @media (min-width: $desktop-width) {
    & svg {
      color: $light-color;
      opacity: 1;
    }
  }
}

.like__quantity {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  display: inline-block;
  margin-left: 10px;
  padding-top: 5px;
  vertical-align: top;

  @media (min-width: $tablet-width) {
    margin-left: 6px;
  }
}
