.main-header {
  text-align: center;
  position: relative;
  z-index: 1;
  height: 56px;

  &--nojs {
    height: auto;
  }

  @media (min-width: $tablet-width) {
    min-height: 56px;
    height: auto;
  }
}

.main-header__logo {
  display: inline-block;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
