.main-footer {
  text-align: center;
  padding: 32px 0 40px 0;

  @media (min-width: $tablet-width) {
    padding: 8px 0 40px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 2px 0 12px 0;
  }
}

.main-footer__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 60px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 120px;
  }
}

.main-footer__hash {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
}

.main-footer__social {
  margin: 28px 0 21px;

  @media (min-width: $tablet-width) {
    margin: 17px 0 21px;
  }

  @media (min-width: $desktop-width) {
    margin: 29px 0 21px;
  }
}
