.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 320px;
  transform: translate(-50%, -50%);
  background-color: $light-color;
  text-align: center;
  padding-top: 45px;
  z-index: 2;

  &--active {
    display: block;
  }

  &--error {
    height: 280px;
  }

  &--sucsess {
    height: 324px;
    padding-top: 38px;

    @media (min-width: $tablet-width) {
      width: 640px;
      padding-top: 43px;

      .modal__title {
        max-width: 355px;
      }

      .modal__subtitle {
        padding: 24px 38px 30px;
      }
    }
  }

  @media (min-width: $tablet-width) {
    &--error {
      height: 347px;
      width: 400px;
      padding-top: 48.5px;
    }
  }
}

.modal__button-wrapper {
  padding: 20px;
  background-color: #f2f2f2;
  margin-top: 22px;

  @media (min-width: $tablet-width) {
    padding: 44px 20px;
  }
}

.modal__button {
  display: block;
  font-size: 18px;
  margin: 0 auto;

  &--error {
    width: 180px;
    margin: 0 auto;

    @media (min-width: $tablet-width) {
      width: 272px;
    }
  }
}

.modal__title {
  @media (min-width: $tablet-width) {
    font-size: 30px;
    max-width: 218px;
    margin: 0 auto;
    line-height: 40px;
  }
}

.modal__subtitle {
  padding: 24px 38px 28px;
  overflow-y: auto;

  @media (min-width: $tablet-width) {
    padding: 24px 38px 45px;
  }
}

.modal--sucsess .modal__subtitle {
  max-height: 96px;
}

.modal--error .modal__subtitle {
  max-height: 111px;
}
