.photo__image {
  width: 100%;
  display: block;
}

.photo__caption {
  text-align: left;
  padding-top: 5px;

  @media (min-width: $tablet-width) {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: $photo-background;
    padding: 22px 20px 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    background-color: $down-color;
    color: $light-color;
  }
}

.photo__title,
.photo__author {
  margin: 0;
}

.photo__title {
  text-transform: uppercase;
  padding: 10px 0 2px;
  font-size: 14px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}

.photo__author {
  padding-bottom: 10px;
  font-size: 14px;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
  }
}
