.photo__caption {
  text-align: left;
}

.photo__title,
.photo__author {
  margin: 0;
}

.photo__title {
  text-transform: uppercase;
  padding: 10px 0px 2px;
}

.photo__author {
  padding-bottom: 10px;
}
