.reason {
  padding: 37px 18px 38px;
  display: grid;
  height: 100%;

  @media (min-width: $tablet-width) {
    min-height: 256px;
    padding: 37px 18px 30px;
  }

  &--first {
    position: relative;
    padding-top: 70px;
  }

  &--first::before {
    @include top-triangle("../../img/advantures-triangle.svg", cover, 37px);

    @media (min-width: $tablet-width) {
      @include delete-triangle();
    }
  }

  &--blue {
    background-color: $base-color;
    color: $light-color;
    display: block;

    @media (min-width: $tablet-width) {
      padding-top: 52.5px;
    }
  }

  &--grey {
    background-color: #eeeeee;
    padding: 24px 18px 25px;
    display: block;

    @media (min-width: $tablet-width) {
      padding: 41px 18px 26px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 51px;
    }
  }
}

.reason__subtitle {
  max-width: 290px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    max-width: 180px;
  }

  @media (min-width: $desktop-width) {
    max-width: 270px;
  }
}

.reason__subtitle--blue {
  color: $light-color;
}

.reason__title {
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    max-width: 150px;
    margin: 0 auto 12px;
  }
}

.reason__number {
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    margin-bottom: 23px;
  }
}
