.social {
  @include list-reset;
  font-size: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 6px;
}

.social__link {
  width: 48px;
  height: 48px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  &--vkontakte {
    background-image: url("../../img/icon-vk.svg");
  }

  &--telegram {
    background-image: url("../../img/icon-telegram.svg");
  }

  &--youtube {
    background-image: url("../../img/icon-youtube.svg");
  }
}
