.social {
  @include list-reset;
  font-size: 0;
}

.social__link {
  width: 48px;
  height: 48px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin: 30px 3px 18px;
}

.social__item {
  display: inline-block;
}

.social__link--vkontakte {
  background-image: url("../../img/vk.svg");
}

.social__link--telegram {
  background-image: url("../../img/telegram.svg");
}

.social__link--youtube {
  background-image: url("../../img/youtube.svg");
}
