.social {
  @include list-reset;
  font-size: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 6px;
}

.social__link {
  width: 48px;
  height: 48px;
  display: inline-block;

  svg {
    transform: translateY(-3px);
  }

  &:active svg,
  &:focus svg {
    opacity: 0.3;
  }
}
