.textarea {
  border: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  background-color: #f2f2f2;
  padding: 16px;
  font-family: "PT Sans", "Arial", sans-serif;
  height: 150px;
  resize: none;

  @media (min-width: $tablet-width) {
    height: 162px;
  }

  @media (min-width: $desktop-width) {
    height: 160px;
    max-width: 768px;
    margin: 0 auto;
  }
}
